.home{
  background-color:@teal;

  .mainContent{
    flex-direction:column;
      align-items:center;
      width:100%;
      height:fit-content;
      padding: 0 12%;

      img{
        max-width: 100%;
        margin-top: -3%;
        margin-left: -8%;
      }
  }

  .textContent{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    padding-bottom: 5%;
    padding: 7% 0;

    h1{
      font-family: @headFont;
      text-align: center;;
      color:@darkBlue;
      padding: 0 0 7%;
    }

    .buttonContainer{
      display:flex;
      width:fit-content;
      height:fit-content;

      button{
        .baseButton(@bg:@darkBlue, @txtcolor:@white, @btnwidth:40%,@btnheight:35px);
        width:fit-content;
      }
    }
    
  }

}

footer{
  display: flex;
    justify-content: center;
    align-content: center;
    height: 1%;
    background-color: @darkBlue;

    p{
      color:@white;
      font-family: @secondFont;
      font-size:1rem;
      padding: 6px;
    }
}