.baseButton(@bg:@darkBlue, @txtcolor:@white, @btnwidth:20%,@btnheight:40px){
    background-color:@bg;
    color:@txtcolor;
    width:@btnwidth;
    height:@btnheight;
    text-align:center;
    border-radius:16px;
    font-size:1.4rem;
    font-family:@headFont;
    border-top: 0;
    border-left: 0;
}

.ctr('direction'){
  display:flex;
  flex-direction:'direction';
  align-items:center;
  justify-content:center;
}