.baseButton(@bg:@darkBlue, @txtcolor:@white, @btnwidth:20%,@btnheight:45px){
    background-color:@bg;
    color:@txtcolor;
    width:@btnwidth;
    height:@btnheight;
    text-align:center;
    border-radius:10px;
    font-size:1.8rem;
}

.ctr('direction'){
  display:flex;
  flex-direction:'direction';
  align-items:center;
  justify-content:center;
}