.headBox{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #233536;
  padding:1%;

  .headImg img{
    //display:none;
      display:flex;
      height:40px;

    @media @tablet{
      display:flex;
      height:60px;
    }
  }//Closes headImg

  .navBar{
    padding: 1rem;
    width: 75vw;
    display: flex;
    justify-content: center;
    padding-bottom: 0%;

    @media @tablet{
      width:95vw;
    }

    nav{
      display: flex;
      flex-direction: row;
      align-items: center;
    }//Closes nav
  
    a{
      text-decoration: none;
      font-size: 2.5rem;
      padding: 1rem 2rem;
      color: @teal;
      font-family: @headFont;
      transition-duration: 0.5s;
    }//Closes a

    a:hover{
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      color:@white;
    }
  }//Closes navBar
}//Closes headBox



  